@import "./reset.scss";
@import "./fonts.scss";

body {
    background: #e5e5e5;
    .App {
        padding: 20px;
    }
    #root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
}
