@import "./reset.scss";
@import "./fonts.scss";
@import "./slider.scss";

body {
    background: #ffffff;
    .App {
        margin: 20px;
    }
    #root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
}
